<div #modal class="modal fade">
    <div class="modal-dialog {{!options.size ? '' : 'modal-' + options.size}}">
        <div class="card modal-content {{!options.type ? 'card-primary' : 'card-' + options.type}}">
            <div class="card-header">
                <h3 class="card-title">{{options.title}}</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
                </div>
            </div>
            <div class="card-body">
                <ng-content></ng-content>
            </div>
            <div class="card-footer justify-content-between">
                <button type="button" class="btn btn-outline-secondary float-left" data-dismiss="modal" *ngIf="options.cancelText">{{options.cancelText}}</button>
                <button type="button" class="btn btn-outline-{{!options.type ? 'primary' : options.type}} float-right" (click)="onOK()">{{options.okText}}</button>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
    <!-- /.modal-dialog -->
</div>
