<common-data-table #dataTableCity [title]="" [options]="dataTableCityOptions" [request]="pagingRequest" (addClick)="showPopupAdd(addCityForm)"
    (editClick)="showPopupEdit($event, addCityForm)" (deleteClick)="showPopupDelete($event)">
    <div class="d-filter">
        <form class="form-horizontal" (ngSubmit)="onSearchFormSubmit(searchCityForm)" #searchCityForm="ngForm">
            <div class="row no-gutters justify-content-between">
                <div class="col-md-4 form-group">
                    <label for="searchCityFormName" class="col-form-label">Name</label>
                    <div class="col-form-input">
                        <input type="text" class="form-control" id="searchCityFormName" name="searchCityFormName" placeholder="Search" [(ngModel)]="searchParams.name"
                        #searchCityFormName="ngModel">
                    </div>
                </div>

                <div class="col-md-3">
                    <button type="submit" class="btn btn-block btn-outline-primary"><i class="fa fa-search"></i>&nbsp; Search</button>
                </div>
            </div>
        </form>
    </div>
</common-data-table>

<common-popup #popupAddEditCity [options]="popupAddEditCityOptions" (okClick)="addCityForm.onSubmit($event)" (closeModal)="refreshDataTable()">
    <div class="box box-primary">
        <!-- /.box-header -->
        <!-- form start -->
        <form (ngSubmit)="onCityFormSubmit(addCityForm)" #addCityForm="ngForm">
            <div class="box-body">
                <div class="form-group" [hidden]="!model.id">
                    <label for="addCityFormId">ID</label>
                    <input type="number" class="form-control" id="addCityFormId" name="addCityFormId" placeholder="ID" [(ngModel)]="model.id">
                </div>
                <div class="form-group" >
                    <label for="addCityFormName">Name</label>
                    <input type="text" class="form-control" id="addCityFormName" name="addCityFormName" placeholder="Name" [(ngModel)]="model.name"
                        #addCityFormName="ngModel" [ngClass]="formService.getFormControlClass(addCityForm, addCityFormName)" required>
                </div>
            </div>
            <!-- /.box-body -->
        </form>
    </div>
</common-popup>

<common-popup #popupDeleteCity [options]="popupDeleteCityOptions" (okClick)="onDeleteCitySubmit($event)" (closeModal)="refreshDataTable()">
    <p>Are you sure to delete this city?</p>
</common-popup>
