@media screen and (min-width: 992px) {
  // .box-header {
  //   .btn-add {
  //     width: 100px;
  //     margin: 0px 20px 10px 20px;
  //   }
  // }

  // .d-filter {
  //   .d-filter-box {
  //     padding-right: 20px;

  //     .d-filter-item{
  //       margin-left: 0;
  //       margin-right: 0;
  //     }

  //     .d-filter-item.col-lg-offset-6{
  //       margin-left: 50%;
  //     }

  //     .d-filter-item.col-lg-offset-1{
  //       margin-left: 8.33333333%;
  //     }
  //   }
  // }

  // .row-import{
  //   margin-left: 0px;
  // }
}
