@media screen and (max-width: 767px) {
  // div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
  //   text-align: left;
  // }

  // .d-filter {
  //   .d-filter-box {
  //     .d-filter-item {
  //       margin-left: 0;
  //       margin-right: 0;
  //       padding-left: 0;
  //       padding-right: 0;
  //       label{
  //         text-align: left;
  //       }
  //     }
  //     .d-filter-submit {
  //       padding-left: 15px;
  //       padding-right: 15px;
  //     }
  //   }
  // }

  // table.dataTable {
  //   .table-col-action {
  //     width: 100px !important;
  //   }

  //   .btn-app {
  //     margin: 5px 10px !important;
  //   }
  // }

  // .row-import{
  //   padding: 0;

  //   .col-xs-6{
  //     padding-right: 0;
  //   }
  // }
}
