.login-box{
  width: 500px;
}

.layout-fixed .back-to-top {
  bottom: 10px;
}

.d-setting-color {
  width: 40px;
  height: 20px;
  border-radius: 25px;
  margin-right: 10px;
  margin-bottom: 10px;
  opacity: 0.8;
  box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
  cursor: pointer;
}

.d-setting-color:hover, .d-setting-color.active {
  opacity: 1;
  box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
}

.d-filter {

  .form-horizontal {
    .row {
      margin-left: 0;
      margin-right: 0;
    }

    .form-group {
      display: flex;
      // padding-right: 30px;

      .col-form-label {
        padding-right: 20px;
      }

      .col-form-input {
        width: 100%;
      }
    }
  }

}

table.dataTable .icheck-primary label::before{
  background-color: white;
}

.table-col-action .btn{
  margin-right: 10px;
}

.dataTables_info, .dataTables_paginate {
  display: inline-block;
}

.dataTables_paginate {
  padding-top: 0.5em;
  float: right;
}

.k-dropdown .k-dropdown-wrap, .k-dropdowntree .k-dropdown-wrap {
  background-color: white;
  background-image: none;
  border: none;
  border-radius: .25rem;

  .k-input {
    height: 2.25rem;
    padding: .5rem .75rem;
  }
}

.k-dropdown .k-dropdown-wrap:hover, .k-dropdowntree .k-dropdown-wrap:hover, .k-dropdown .k-dropdown-wrap.k-state-hover, .k-dropdowntree .k-dropdown-wrap.k-state-hover{
  background-color: white;
  background-image: none;
  border: none;
  border-radius: .25rem;
}

.k-dropdown .k-dropdown-wrap.k-state-focused, .k-dropdowntree .k-dropdown-wrap.k-state-focused {
  box-shadow: none;
}

.k-list .k-item, .k-list-optionlabel {
  padding: .5rem .75rem;
  line-height: 1.5rem;
}
