<!-- search form (Optional) -->
<!-- <ng-content select="div.d-filter"></ng-content> -->
<!-- /.search form -->

<!-- import (Optional) -->
<!-- <ng-content select="div.row-import"></ng-content> -->
<!-- /.import -->

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title">Search</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <ng-content select="div.d-filter"></ng-content>
                </div>
                <!-- /.card-body -->
            </div>

            <!-- /.card -->
            <div class="card">
                <div class="card-header">
                    <!-- <h3 class="card-title">{{title}}</h3> -->
                    <div class="col-md-3 col-xs-4 p-0">
                        <button type="button" class="btn btn-outline-primary btn-block btn-add" (click)="onAdd()" *ngIf="hasAdd">Add</button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="col-md-2 col-xs-4 pull-right">
                        <button type="button" class="btn btn-block btn-outline-danger btn-add" (click)="onDeleteMulti()" *ngIf="options.multiSelect"
                            [disabled]="table.DataTable().rows({ selected: true }).count() < 1">Delete</button>
                    </div>
                    <table #dataTable class="table table-bordered table-striped dataTable dtr-inline">
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
