<!-- Control sidebar content goes here -->
<div class="p-3 control-sidebar-content">
    <h5>Customize AdminLTE</h5>
    <hr class="mb-2">
    <div class="mb-1"><input type="checkbox" class="mr-1" [(ngModel)]="adminLTEService.adminLTEOption.noNavbarBorder" [ngModelOptions]="{standalone: true}"
            (change)="adminLTEService.setNoNavbarBorder()"><span>No Navbar border</span></div>
    <div class="mb-1"><input type="checkbox" class="mr-1" [(ngModel)]="adminLTEService.adminLTEOption.bodySmallText" [ngModelOptions]="{standalone: true}"
            (change)="adminLTEService.setBodySmallText()"><span>Body small text</span></div>
    <div class="mb-1"><input type="checkbox" class="mr-1" [(ngModel)]="adminLTEService.adminLTEOption.navbarSmallText" [ngModelOptions]="{standalone: true}"
            (change)="adminLTEService.setNavbarSmallText()"><span>Navbar small text</span></div>
    <div class="mb-1"><input type="checkbox" class="mr-1" [(ngModel)]="adminLTEService.adminLTEOption.sidebarSmallText" [ngModelOptions]="{standalone: true}"
            (change)="adminLTEService.setSidebarSmallText()"><span>Sidebar nav small text</span></div>
    <div class="mb-1"><input type="checkbox" class="mr-1" [(ngModel)]="adminLTEService.adminLTEOption.footerSmallText" [ngModelOptions]="{standalone: true}"
            (change)="adminLTEService.setFooterSmallText()"><span>Footer small text</span></div>
    <div class="mb-1"><input type="checkbox" class="mr-1" [(ngModel)]="adminLTEService.adminLTEOption.sidebarFlatStyle" [ngModelOptions]="{standalone: true}"
            (change)="adminLTEService.setSidebarFlatStyle()"><span>Sidebar nav flat style</span></div>
    <div class="mb-1"><input type="checkbox" class="mr-1" [(ngModel)]="adminLTEService.adminLTEOption.sidebarLegacyStyle" [ngModelOptions]="{standalone: true}"
            (change)="adminLTEService.setSidebarLegacyStyle()"><span>Sidebar nav legacy style</span></div>
    <div class="mb-1"><input type="checkbox" class="mr-1" [(ngModel)]="adminLTEService.adminLTEOption.sidebarCompact" [ngModelOptions]="{standalone: true}"
            (change)="adminLTEService.setSidebarCompact()"><span>Sidebar nav compact</span></div>
    <div class="mb-1"><input type="checkbox" class="mr-1" [(ngModel)]="adminLTEService.adminLTEOption.sidebarChildIndent" [ngModelOptions]="{standalone: true}"
            (change)="adminLTEService.setSidebarChildIndent()"><span>Sidebar nav child indent</span></div>
    <div class="mb-1"><input type="checkbox" class="mr-1" [(ngModel)]="adminLTEService.adminLTEOption.sidebarDisableHoverAutoExpand" [ngModelOptions]="{standalone: true}"
            (change)="adminLTEService.setSidebarDisableHoverAutoExpand()"><span>Main Sidebar disable hover/focus auto expand</span></div>
    <div class="mb-4"><input type="checkbox" class="mr-1" [(ngModel)]="adminLTEService.adminLTEOption.brandSmallText" [ngModelOptions]="{standalone: true}"
            (change)="adminLTEService.setBrandSmallText()"><span>Brand small text</span></div>

    <h6>Navbar Variants</h6>
    <div class="d-flex">
        <div class="d-flex flex-wrap mb-3">
            <div *ngFor="let color of appConstants.adminLTE.navbarVariants" class="bg-{{color}} d-setting-color"
                [ngClass]="color == adminLTEService.adminLTEOption.navbarVariant ? 'active' : ''"
                (click)="adminLTEService.adminLTEOption.navbarVariant = color; adminLTEService.setNavbarVariant()"></div>
        </div>
    </div>

    <h6>Accent Color Variants</h6>
    <div class="d-flex"></div>
    <div class="d-flex flex-wrap mb-3">
        <div *ngFor="let color of appConstants.adminLTE.colorVariants" class="bg-{{color}} d-setting-color"
            [ngClass]="color == adminLTEService.adminLTEOption.accentColorVariant ? 'active' : ''"
            (click)="adminLTEService.adminLTEOption.accentColorVariant = color; adminLTEService.setAccentColorVariant()"></div>
    </div>

    <h6>Dark Sidebar Variants</h6>
    <div class="d-flex"></div>
    <div class="d-flex flex-wrap mb-3">
        <div *ngFor="let color of appConstants.adminLTE.colorVariants" class="bg-{{color}} d-setting-color"
            [ngClass]="color == adminLTEService.adminLTEOption.darkSidebarVariant ? 'active' : ''"
            (click)="adminLTEService.adminLTEOption.darkSidebarVariant = color; adminLTEService.setDarkSidebarVariant()"></div>
    </div>

    <h6>Light Sidebar Variants</h6>
    <div class="d-flex"></div>
    <div class="d-flex flex-wrap mb-3">
        <div *ngFor="let color of appConstants.adminLTE.colorVariants" class="bg-{{color}} d-setting-color"
            [ngClass]="color == adminLTEService.adminLTEOption.lightSidebarVariant ? 'active' : ''"
            (click)="adminLTEService.adminLTEOption.lightSidebarVariant = color; adminLTEService.setLightSidebarVariant()"></div>
    </div>

    <h6>Brand Logo Variants</h6>
    <div class="d-flex"></div>
    <div class="d-flex flex-wrap mb-3">
        <div *ngFor="let color of appConstants.adminLTE.navbarVariants" class="bg-{{color}} d-setting-color"
            [ngClass]="color == adminLTEService.adminLTEOption.brandLogoVariant ? 'active' : ''"
            (click)="adminLTEService.adminLTEOption.brandLogoVariant = color; adminLTEService.setBrandLogoVariant()"></div>
        <a href="javascript:void(0)" (click)="adminLTEService.adminLTEOption.brandLogoVariant = ''; adminLTEService.setBrandLogoVariant()">clear</a>
    </div>
</div>
