.form-control {
  height: auto;
}

input[type="file"] {
  display: none;
}

img {
  width: 100%;
  max-height: 300px;
}

img:not(.img-diabled) {
  cursor: pointer;
}

.form-control.is-valid, .form-control.is-invalid {
  background-image: unset;
  padding-right: 0.75rem;
}