<div class="form-control" [ngClass]="formClass">
    <input #fileInputBox type="file" (change)="onFileInputChange($event)" accept="image/*">
    <img [src]="fileInput" *ngIf="fileInput" (click)="fileInputBox.click()" [ngClass]="disabled ? 'img-disabled' : ''">
</div>

