<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1 *ngIf="breadcrumbs && breadcrumbs.length > 0">{{breadcrumbs[breadcrumbs.length -1].title}}</h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item" *ngFor="let item of breadcrumbs; let i=index" [class.active]="i == breadcrumbs.length -1 || !item.path"><a *ngIf="i < breadcrumbs.length -1 && item.path" routerLink="{{item.path}}">{{item.name}}</a> {{ i < breadcrumbs.length -1 && item.path ? '' : item.name}}</li>
            </ol>
        </div>
    </div>
</div><!-- /.container-fluid -->
