<div class="wrapper">
    <!-- Main Header -->
    <nav mainLayoutHeader></nav>
    <!-- Left side column. contains the logo and sidebar -->
    <aside mainLayoutSidebar></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section mainLayoutPageHeader></section>
        <!-- Main content -->
        <section class="content">
            <router-outlet></router-outlet>
        </section>

        <a href="#" id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top" style="">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>

    <!-- Main Footer -->
    <footer mainLayoutFooter></footer>
    <!-- Control Sidebar -->
    <aside mainLayoutSetting></aside>
</div>
