<common-data-table #dataTableCountry [title]="" [options]="dataTableCountyOptions" [request]="pagingRequest" (addClick)="showPopupAdd(addCountyForm)"
    (editClick)="showPopupEdit($event, addCountyForm)" (deleteClick)="showPopupDelete($event)">
    <div class="d-filter">
        <form class="form-horizontal" (ngSubmit)="onSearchFormSubmit(searchCountyForm)" #searchCountyForm="ngForm">
            <div class="row no-gutters justify-content-between">
                <div class="col-md-4 form-group">
                    <label for="searchCountyFormName" class="col-form-label">Name</label>
                    <div class="col-form-input">
                        <input type="text" class="form-control" id="searchCountyFormName" name="searchCountyFormName" placeholder="Search" [(ngModel)]="searchParams.name"
                            #searchCountyFormName="ngModel">
                    </div>
                </div>

                <div class="col-md-4 form-group">
                    <label for="searchCountyFormCity" class="col-form-label">City</label>
                    <div class="col-form-input">
                        <kendo-dropdownlist #searchCountyFormCity="ngModel" id="searchCountyFormCity" name="searchCountyFormCity" class="form-control"
                            [(ngModel)]="searchParams.cityId" [data]="dropDownList.cityList" [defaultItem]="appConstants.kendo.dropdown.defaultItem" valueField="value"
                            textField="text" [valuePrimitive]="true" [virtual]="appConstants.kendo.dropdown.virtual">
                        </kendo-dropdownlist>
                    </div>
                </div>

                <div class="col-md-3">
                    <button type="submit" class="btn btn-block btn-outline-primary"><i class="fa fa-search"></i>&nbsp; Search</button>
                </div>
            </div>
        </form>
    </div>
</common-data-table>

<common-popup #popupAddEditCounty [options]="popupAddEditCountyOptions" (okClick)="addCountyForm.onSubmit($event)" (closeModal)="refreshDataTable()">
    <div class="box box-primary">
        <!-- /.box-header -->
        <!-- form start -->
        <form (ngSubmit)="onCountyFormSubmit(addCountyForm)" #addCountyForm="ngForm">
            <div class="box-body">
                <div class="form-group" [hidden]="!model.id">
                    <label for="addCountyFormId">ID</label>
                    <input type="number" class="form-control" id="addCountyFormId" name="addCountyFormId" placeholder="ID" [(ngModel)]="model.id">
                </div>
                <div class="form-group">
                    <label for="addCountyFormName">Name</label>
                    <input type="text" class="form-control" id="addCountyFormName" name="addCountyFormName" placeholder="Name" [(ngModel)]="model.name"
                        #addCountyFormName="ngModel" [ngClass]="formService.getFormControlClass(addCountyForm, addCountyFormName)" required>
                </div>
                <div class="form-group">
                    <label for="addCountyFormCity">City</label>
                    <kendo-dropdownlist #addCountyFormCity="ngModel" id="addCountyFormCity" name="addCountyFormCity" class="form-control" [(ngModel)]="model.city.id"
                        [ngClass]="formService.getFormControlClass(addCountyForm, addCountyFormCity)" required [data]="dropDownList.cityList"
                        [defaultItem]="appConstants.kendo.dropdown.defaultItem" valueField="value" textField="text" [valuePrimitive]="true"
                        [virtual]="appConstants.kendo.dropdown.virtual">
                    </kendo-dropdownlist>
                </div>
            </div>
            <!-- /.box-body -->
        </form>
    </div>
</common-popup>

<common-popup #popupDeleteCounty [options]="popupDeleteCountyOptions" (okClick)="onDeleteCountySubmit($event)" (closeModal)="refreshDataTable()">
    <p>Are you sure to delete this county?</p>
</common-popup>
