<div class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#" routerLink="/"><b>Admin</b>LTE</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form (ngSubmit)="login(loginForm)" #loginForm="ngForm">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" id="loginFormEmail" name="loginFormEmail"
                        [(ngModel)]="model.email" #loginFormEmail="ngModel" [ngClass]="formService.getFormControlClass(loginForm, loginFormEmail)" required [pattern]="appConstants.emailPattern">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" id="loginFormPassword" name="loginFormPassword"
                        [(ngModel)]="model.password" #loginFormPassword="ngModel" [ngClass]="formService.getFormControlClass(loginForm, loginFormPassword)" required [pattern]="appConstants.passwordPattern">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="loginFormRemember" name="loginFormRemember"
                                [(ngModel)]="model.remember" #loginFormPassword="ngModel">
                                <label for="loginFormRemember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <div class="social-auth-links text-center mb-3">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                    </a>
                </div>
                <!-- /.social-auth-links -->

                <p class="mb-1">
                    <a routerLink="">I forgot my password</a>
                </p>
                <p class="mb-0">
                    <a routerLink="" class="text-center">Register a new membership</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</div>
