<!-- Brand Logo -->
<a href="#" routerLink="/" class="brand-link">
    <img src="assets/admin-lte/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">AdminLTE 3</span>
</a>

<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
            <ng-template ngFor let-item [ngForOf]="sidebarMenu$ | async">
                <ng-template [ngIf]="item.children">
                    <li class="nav-header">
                        {{ item.name | uppercase }}
                    </li>
                    <ng-template  ngFor let-level2 [ngForOf]="item.children">
                        <li *ngIf="!level2.children" class="nav-item">
                            <a href="#" [routerLink]="level2.path" class="nav-link" routerLinkActive="active">
                                <i class="nav-icon {{level2.icon}}"></i>
                                <p>
                                    {{level2.name}}
                                </p>
                            </a>
                        </li>
                        <li *ngIf="level2.children" class="nav-item has-treeview" routerLinkActive="menu-open" #rla="routerLinkActive">
                            <a href="#" class="nav-link" [class.active]="rla.isActive">
                                <i class="nav-icon {{level2.icon}}"></i>
                                <p>
                                    {{level2.name}}
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li *ngFor="let level3 of level2.children" class="nav-item">
                                    <a href="#" [routerLink]="level3.path" class="nav-link" routerLinkActive="active">
                                        <i class="nav-icon {{level3.icon}}"></i>
                                        <p>{{level3.name}}</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ng-template>
                </ng-template>
                <li *ngIf="!item.children" class="nav-item">
                    <a href="#" [routerLink]="item.path" class="nav-link" routerLinkActive="active">
                        <i class="nav-icon {{item.icon}}"></i>
                        <p>
                            {{item.name}}
                        </p>
                    </a>
                </li>
            </ng-template>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
